
body{
    margin:0;
}



#content{
    margin:0px;
    position:absolute;height:100%;width:100%;
}

#content #nav{
  width:100%;height:10%;position:relative;display:flex;justify-content:flex-end;
}

#content #nav ul{
    line-height: 24px;
    padding:0;
    display:flex;
    align-items:center;
    list-style-type:none;
    margin-right:3%;
    font-size:inherit;
}

#content #nav ul li{
    margin-right:10px;

}

#content #nav ul li a{
    color:inherit;
    text-decoration:none;
}

#content #nav ul li a:hover{text-decoration: underline;}



#content #google-image{
    position:absolute;
    top:20%;
    left:0;right:0;margin-left:auto;margin-right:auto;
   width:272px;height:92px;
}

#content #search{
    position: absolute;
    top:40%; left:0;right:0;margin-left:auto;margin-right:auto;background-color: white;
    width: 580px; height:30px; border-radius: 30px;
    border:1px solid #ddd;
    padding:10px;
    display: flex;
    align-items:center;
}

#content #search:hover{
    border: 1px solid #888888;
  
  box-shadow: 5px 10px 8px #888888;
  
}

#content #search-txt{
    border:none;
    outline:none;
    background: none;
    height:100%;
    padding:0;
    width:90%;
    margin-left:2%;
}


#content #search a #search-icon{
    float:left;
    width:10%;height:80%;
}

#content #search a #microphone-icon{
    float:right;
    width:5%;height:80%;
}

#content #buttons{
    position:absolute;width:30%;height:40px;left:0;right:0;
    margin-left:auto;margin-right:auto;top:55%;display:flex;
    align-items: center;justify-content: center;gap:12px;

}

#content #buttons input{
    padding:10px 20px;
    border:none;
    outline:none;
    border-radius:5px;
    cursor:pointer;
    font-size:14px;color:#3c4043;background-color: #f8f9fa;;
}

#content #buttons input:hover{
    border:1px solid transparent;
}

#content #footer{
    width:100%;height:7%;position:fixed;bottom:0px;
    background-color: #f2f2f2;
    display: flex; justify-content:space-between;align-items: center;
    color:#70757a;font-size:15px;

}

#content #footer #about{
  margin-left:30px; display: flex;/*  width:50%;height:100%;
  position:absolute;left:0px;display:flex; justify-content: flex-start;*/
}

#content #footer #about ul{
    display:flex;align-items:center; gap:12px;  padding:0 ;
    list-style-type: none; 
}

#content #footer #about ul li a{
    color:inherit;
    text-decoration: none;
}

#content #footer #about ul li a:hover{
    text-decoration: underline;
}

#content #footer #privacy{
    margin-right:30px;display: flex;/*   width:50%;height:100%;
   justify-content: flex-end;position:absolute;right:0px;display:flex;*/
}

#content #footer #privacy ul{
    list-style-type: none; display: flex; padding:0;gap:12px;
    margin-right:3%;align-items: center;
}

#content #footer #privacy li a{
    color:inherit;
    text-decoration: none;
} 

#content #footer #privacy li a:hover{
    text-decoration:underline;
}

@media (max-width: 670px){
    #content #search{width:80%;}

    #content #footer{height:15%; flex-direction: column;}
}
